---
import Layout from "../layouts/Layout.astro"
---


<Layout title="About the projet">
    <h1>
        About the ṕrojet
    </h1>

    <p>
        The SpaceX launches projet is demo for the Astro course
    </p>
</Layout>
